.Product {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .name {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1rem;
  }

  .price {
    text-align: right;
  }

  .unit {
    font-weight: 400;
    font-size: 0.8rem;
  }
}