.Header {
  padding: 0.5rem 0.75rem;
  border-bottom: 0.1px solid rgba(black, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 10px 0px;
  width: 100vw;
  height: $header-height;
  z-index: 100;
  background-color: white;

  .logo {
    display: flex;
  }

  .icon {
    color: black;
  }

  .printHeading {
    display: none;
  }

  @media print {
    box-shadow: none;
    border: none;

    .social {
      display: none;
    }

    .printHeading {
      display: block;
    }
  }
}